# This is a basic workflow to help you get started with Actions

name: cache

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - uses: actions/cache@v1
      id: cache-pom
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: maven install 
      if: steps.cache-pom.outputs.cache-hit != 'true'
      run: mvn install

    - uses: actions/cache@v1
      id: cache-calc
      with:
        path: ./cache
        key: ${{ runner.os }}-numbers-${{ hashFiles('**/numbers') }}-${{ hashFiles('**/calc.sh') }}
    - name: calc result
      if: steps.cache-calc.outputs.cache-hit != 'true'
      run: |
        chmod +x ./calc.sh
        mkdir cache
        ./calc.sh > ./cache/result
    - name: output result
      run: |
        cat ./cache/result 
